<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
	<!-- <link rel="stylesheet" href="/css/bundle.css"> -->
	<title>Charles Fahselt</title>
</head>

<body id="top">
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/projects.html">Projects</a></li>
				<li><a href="https://www.linkedin.com/in/fahseltc/">LinkedIn</a></li>
				<li><a href="https://github.com/fahseltc/">GitHub</a></li>
			</ul>
		</nav>
		<h1>{{ title | default: "Charles Fahselt" }}</h1>
		<p>{{ subtitle | default: "Professional Software Engineer & Amateur Game Developer" }}</p>
	</header>

	<main>
		{{ content}}
	</main>
</body>

</html>